<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550066288907-0738qgkcsih50fmpo4opgc9c8o5nqlla.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550066288907-0738qgkcsih50fmpo4opgc9c8o5nqlla</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>550066288907-7m7c6hvf0h8vba3sc7i9ublci2men8jp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAvrKoJFwULlu4MsZlhBXYI1QI7Z7KhVXk</string>
	<key>GCM_SENDER_ID</key>
	<string>550066288907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.g14.invoice.drive</string>
	<key>PROJECT_ID</key>
	<string>invoice-drive-2048b</string>
	<key>STORAGE_BUCKET</key>
	<string>invoice-drive-2048b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550066288907:ios:3dc8ba2a0e10a1f4b54a0e</string>
</dict>
</plist>